@charset "utf-8";
/*웹뷰안보임*/
.panel,.mCon03Menu04,.mMainCon04{display:none;}

/*모바일뷰*/
    /*리셋*/
@media screen and (max-width:768px){
    body{min-width:auto;}
    .inner{width:auto;}
    /*안보임처리*/
    .gnb,.util,.mainCon02,.con03Menu04,.mainCon03>div:hover p,.mainCon04,.fLogo,.fInfo{display:none;}    
    
    
    /*보임처리*/
    .mCon03Menu04,.mMainCon04{display:block;}
    .panel{
        display:block;
        width:16px;
        height:15px;
        background:url(../images/sp_com.png) no-repeat -227px -98px;
        background-size:400px;
        position:absolute;
        right:0;
        top:7px;
        text-indent:-9999px;
    }
    .panel a{
        height:100%;
        display:block;
    }
    

    /*헤더*/
    #header{
        height:auto;
        margin:10px 20px;
    }
    #header h1{
        width:70px;
        height:28px;
        background-size:400px;
        background-position:0 0;
        position:static;
    }

    /*메인슬라이더*/
    .mainSlider{
        margin:0; 
        height:auto;
        padding:45% 0;
        background-size:cover;/*모바일뷰는 메인슬리이더 따로 만드는게 좋음*/
    }
    .sliderTxt{
        padding-top:0;
        font-size:11px;
    }
    .sliderTxt h2{
        font-size:14px;
    }
    .sliderBtn{
        width:13px;
        height:23px;
        background-size:400px;
        background-position:-64px -30px;
    }
    .prevBtn{
        left:10px;
    }
    .nextBtn{
        background-position:-79px -30px;
        right:10px;
    }
    /*메인콘텐츠01*/

    .mainCon01{
        padding:10px 0;
    }  
    .mainCon01 ul{
        display:inline-block;
        width:80%;
    }
    .mainCon01 li{
        margin:20px 0;
        width:33.33%;
    }
    .mainCon01 li span{
        width:33px;
        height:33px;
        background-size:400px;
        margin:0 auto;
        margin-bottom:5px;
    }
    .mainCon01 li:hover span{
        background-position-y:-57px;
    }
    .mainCon01 li:hover .con01Icon03{
        background-position-y:-55px;
    }
    .mainCon01 li:hover p{
        color:#333;
    }
    
    .con01Icon01{
        background-position: -1px -57px;
    }

    .con01Icon02{
        background-position: -37px -57px;
    }
    .con01Icon03{
        background-position: -74px -55px;
    }

    .con01Icon04{
        background-position: -109px -57px;
    }
    .con01Icon05{
        background-position: -145px -57px;
    }
    .con01Icon06{
        background-position: -181px -57px;
    }
    
    /*메인콘텐츠02*/
    .mainCon03{
        margin-top:-10px;
        margin-bottom:-10px;
        padding:10px;
    }    
    .mainCon03>div{
        width:calc(50% - 5px);
        height:auto;
        margin-right:10px;
        margin-bottom:10px;
    }
    
    .mainCon03>div:nth-child(2n){
        margin-right:0;
    }
    .mainCon03>div h3,.mainCon03 .con03Menu04 h3{
        padding:45% 0;
        font-size:15px;
    }
/*모바엘메인콘텐츠03*/
    .mMainCon03{
        
    }
    .mMainCon04 li{
        background:#f3f0ed;
        height:45px;
        line-height:45px;
        margin-bottom:10px;
        font-size:13px;
    }
    .mMainCon04 li h4{
        width:15%;
        display:inline-block;
        vertical-align:middle;
        color:#2d5b79;
        text-align:center;
    }
    .mMainCon04 li a{
        
    }
    .mMainCon04 li p{
        width:70%;
        display:inline-block;
        vertical-align:middle;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        padding-left:5%;
    }
/*모바엘메인콘텐츠04*/
    .mainCon05{
        margin-top:0;
        padding:20px 10px;
        padding-bottom:10px;
    }
    .con05Menu li{
        width:calc(50% - 5px);
        margin-right:10px;
        margin-bottom:10px;
    }
    .con05Menu li:nth-child(2n){
        margin-right:0;
    }
    .con05Txt{
        font-size:0;
    }
    .con05Txt h2{
        font-size:15px;
    }
/*푸터*/
    .fTop{
        height:auto;
        line-height:30px;
        text-align:center;
    }
    .fMenu{
        width:250px;
        text-align:center;
        float:none;
        margin:0 auto;
        margin-bottom:10px;
    }
    .fMenu li{
        float:none;
        display:inline-block;
    }
    .fMenu li:nth-child(3)::after{
        display:none;
    }
    .csFamily{
        line-height: 40px;
        font-size:13px;
        float:none;
        display:inline-block;
    }
    .csBox, .csBox .csNum{
        font-size:13px;
    }
    
    .csFamily .familySite{
        width:auto;
        padding-right:30px;
    }
    .fBottom{
        padding:30px 0;
    }
    /*visibility:hidden; 글자만 살아짐. 그 안에 패딩같은거 없어지고*/
    
}